/* From Uiverse.io by abrahamcalsin */ 
.card_client {
  background: #2cb5a0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.user_picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #7cdacc;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.name_client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name_client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.action_buttons:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0 10px 0;
  background: #7cdacc;
}

.action_buttons button {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.action_buttons button:last-child {
  margin-right: 0;
}